<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Blog Technogi">
    <meta name="author" content="Mauricio Moreno">

    <title>Clean Blog</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/clean-blog.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>


    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/clean-blog.min.js"></script>

<script type="text/javascript">
    
 function my_funcion(){
  $.get("http://159.203.179.222/invitados", function(data){
  listaDetalle = data;
  
  var contador;
  for (contador = 0; contador < data.length; contador++) {

    requestBody = {

            "nombre": data[contador].nombre,
            "apellidos": data[contador].apellidos,
            "profesion": data[contador].profesion,
            "pais": data[contador].pais,
            "comentario": data[contador].comentario,
            "fecha": data[contador].fecha
    }


        document.getElementById("info").innerHTML += "<tr class='fila'>    \
                                                        <td >              \
                                                            <h5>" +"Nombre : "+ requestBody.nombre + " "+requestBody.apellidos + "</br> Profesion: "+ requestBody.profesion+"   \
                                                        </h5></td>             \
                                                        <td ><h5>              \
                                                            " +"Pais : " +requestBody.pais + " </br> Comentarios : "+requestBody.comentario + "</br> Fecha : "+ requestBody.fecha+"   \
                                                        </h5></td>             \
                                                     </tr>";


        
        
  };

    });    
 }

</script>
<body onload="my_funcion();">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
           
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="index.html">Inicio</a>
                    </li>
                    <li>
                        <a href="contact.html">Comentarios</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


     

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('img/contact-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h2>La tecnologia mueve al mundo.</h2>
                        <hr class="small">
                        
                    </div>
                </div>
            </div>
        </div>
    </header>




    <div class="container"> 
    <h3 align="center">
        Comentarios: 
    </h3>
    <table border="1" style="margin: 0 auto;" class="table table-striped">
        <tbody>
            <tr>
                <td>
                    <table style="margin: 0 auto;" class="table table-striped" width="255" id="info" name="info">
                       
                    </table>
                </td>            
            </tr>
        </tbody>
    </table>
    </div>




</body>

</html>
